<section class="banner-header section-padding valign">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mt-60">
                <h1>Portfolio Gallery</h1>
                <hr class="border-1">
                <p>Explore our stunning portfolio gallery, showcasing a curated selection of our finest work. From
                    breathtaking landscapes to intimate moments, our gallery is a testament to our passion for capturing
                    life's beauty.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="portfolio-container text-center">
        <div class="row">
            <div class="col">
                <img src="images/wedding/wedding (21).jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Pre-wedding/Pre wedding-images-5.jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Born-baby/Born Baby_pages-to-jpg-0001.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="images/Maternity/Metarnity-images-0.jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Toddler/Todlar-images-1.jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Product/Product-images-2.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="images/wedding/wedding (1).jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Pre-wedding/Pre wedding-images-2.jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Born-baby/Born Baby_pages-to-jpg-00010.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="images/Maternity/Metarnity-images-1.jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Toddler/Todlar-images-2.jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Product/Product-images-3.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="images/wedding/wedding (2).jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Pre-wedding/Pre wedding-images-3.jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Born-baby/Born Baby_pages-to-jpg-0004.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="images/Maternity/Metarnity-images-10.jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Toddler/Todlar-images-21.jpg" alt="">
            </div>
            <div class="col">
                <img src="images/Product/Product-images-6.jpg" alt="">
            </div>
        </div>
    </div>
</section>