<!-- dynamic content -->
<section>
    <div class="container-1">
        <div class='console-container'>
            <p>We Capture Every Moment Of Your Special Days Like:</p><span id='text'></span>
            <div class='console-underscore' id='console'>&#95;</div>
        </div>
        <div class="background-images"></div>
    </div>
</section>


<!-- About owner -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-30 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <h2 class="section-title">Meet Nitesh Sevaniwala: Capturing Life’s Moments with Artistic Vision</h2>
                <p class="section-subtitle">Based in the vibrant city of Surat, I am Nitesh Sevaniwala, a passionate
                    photographer with a keen eye for
                    detail and a love for storytelling. My work transcends the ordinary, as I specialize in freezing
                    emotions,
                    moments, and memories through the lens. With experience across various genres—be it portraits,
                    weddings, or
                    documentary photography—I strive to blend creativity and technical skill to produce images that not
                    only
                    capture the scene but also convey the essence of the moment.</p>
                <ul class="list-unstyled about-list mb-30">
                    <li>
                        <div class="about-list-icon"><img src="images/tick.svg" alt=""></div>
                        <div class="about-list-text">
                            <p>Over 15 years of experience</p>
                        </div>
                    </li>
                    <li>
                        <div class="about-list-icon"><img src="images/tick.svg" alt=""></div>
                        <div class="about-list-text">
                            <p>200+ successfully executed projects</p>
                        </div>
                    </li>
                    <li>
                        <div class="about-list-icon"><img src="images/tick.svg" alt=""></div>
                        <div class="about-list-text">
                            <p>Exceptional work quality</p>
                        </div>
                    </li>
                </ul>
                <hr class="border-2">
                <div class="about-bottom">
                    <!--<img src="img/signature-dark.svg" alt="" class="image about-signature">-->
                    <div class="about-name-wrapper">
                        <div class="about-name-dark">Nitesh Sevaniwala</div>
                        <div class="about-rol">Founder</div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/owner/owner-5.jpg" class="d-block w-100" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img src="images/owner/owner-2.jpg" class="d-block w-100" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img src="images/owner/owner-6.jpg" class="d-block w-100" alt="Third slide">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Services Part -->
<section class="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-30 text-center">
                <h2 class="services-title"><span>Your Vision, Our Lens</span></h2>
                <hr class="border-1">
                <p class="services-description">We offer a range of photography services. We capture the beauty of
                    weddings, the
                    joy
                    of newborns, and the playful moments of toddlers. Our pre-wedding, product, and maternity shoots are
                    done with
                    care and creativity, making sure each photo tells a special story and keeps your memories alive.</p>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <a href="/services" class="service-box wedding-services">
                        <img src="images/icons/wedding-icon.png" alt="">
                        <h3>Wedding Photography</h3>
                        <p>Capturing the beauty and emotions of your special day.</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/services" class="service-box new-born-services">
                        <img src="images/icons/new-born-icon.png" alt="">
                        <h3>Newborn Photography</h3>
                        <p>Creating precious memories of your little one.</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/services" class="service-box toddler-services">
                        <img src="images/icons/toddler-icon.png" alt="">
                        <h3>Toddler Photography</h3>
                        <p>Documenting playful and joyful moments.</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/services" class="service-box pre-wedding-services">
                        <img src="images/icons/pre-wedding-icon.png" alt="">
                        <h3>Pre-Wedding Photography</h3>
                        <p>Beautifully capturing your journey before the big day.</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/services" class="service-box product-services">
                        <img src="images/icons/product-icon.png" alt="">
                        <h3>Product Photography</h3>
                        <p>Showcasing your products with professional imagery.</p>
                    </a>
                </div>
                <div class="col">
                    <a href="/services" class="service-box maternity-services">
                        <img src="images/icons/maternity-icon.png" alt="">
                        <h3>Maternity Photography</h3>
                        <p>Celebrating the beauty of motherhood.</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Counting Part -->
<div class="ministor_counter_area" style="background-image: url('images/owner/owner-7.jpg'); ">
    <div class="overlay" style="background-color: rgba(128, 128, 128, 0.5);"></div>
    <div class="container">
        <div class="row counter1">
            <!-- ministor_counter_01 -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="witr_counter_single all_counter_color">
                    <div class="witr_custom_icon">
                        <i class="icofont-team-alt"></i>
                    </div>
                    <div class="witr_counter_number_inn">
                        <h3><span class="counter" data-count="10000">0</span><span>+</span></h3>
                        <h4>Captured Moments</h4>
                    </div>
                </div>
            </div>
            <!-- ministor_counter_02 -->
            <div class="col-lg-3 col-md-6 col-sm-12 counter1_top">
                <div class="witr_counter_single all_counter_color">
                    <div class="witr_custom_icon">
                        <i class="icofont-checked"></i>
                    </div>
                    <div class="witr_counter_number_inn">
                        <h3><span class="counter" data-count="15">0</span><span>+</span></h3>
                        <h4>No. Of experience</h4>
                    </div>
                </div>
            </div>
            <!-- ministor_counter_03 -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="witr_counter_single all_counter_color">
                    <div class="witr_custom_icon">
                        <i class="icofont-truck-loaded"></i>
                    </div>
                    <div class="witr_counter_number_inn">
                        <h3><span class="counter" data-count="75">0</span><span>+</span></h3>
                        <h4>Creative Concepts</h4>
                    </div>
                </div>
            </div>
            <!-- ministor_counter_04 -->
            <div class="col-lg-3 col-md-6 col-sm-12 counter1_top">
                <div class="witr_counter_single all_counter_color">
                    <div class="witr_custom_icon">
                        <i class="icofont-engineer "></i>
                    </div>
                    <div class="witr_counter_number_inn">
                        <h3><span class="counter" data-count="200">0</span><span>+</span></h3>
                        <h4>Smiling Clients</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Why Choose us -->
<section class="why-choose-us">
    <div class="ministor_choose_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 process_top">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner bar text-left">
                            <h3>Why Choose us</h3>
                        </div>
                    </div>
                    <div class="witr_content_title">
                        <p>At our photo studio, we believe that every moment deserves to be captured with the utmost
                            care and
                            creativity. Our team of skilled photographers is dedicated to preserving your most precious
                            memories,
                            whether it's the joy of a wedding, the tender moments of a newborn, the playful spirit of a
                            toddler, or
                            the excitement of a pre-wedding shoot. We also specialize in product photography, ensuring
                            that every
                            detail of your products is showcased beautifully, and maternity sessions, where we celebrate
                            the beauty of
                            life in its early stages. With a commitment to excellence, personalized service, and a
                            passion for
                            storytelling, we ensure that each photo we take is not just an image, but a timeless
                            keepsake. Choose us
                            for your photography needs, and let us help you create memories that last a lifetime.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>